// custom SCSS (or CSS) goes here

// custom font size and font weight
h1,
.text-alpha {
  font-weight: 700;
  border-bottom: 1.5px solid $border-color; // 使用主题的默认边框颜色
  padding-bottom: 0.3em; // 控制分割线与文字间距
  margin-bottom: 1em; // 控制分割线与下方内容的间距

  @include fs-7;
}

h2,
.text-beta{
  font-weight: 700;
  border-bottom: 1px solid $border-color; 
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;

  @include fs-6;
}

h3,
.text-gamma {
  font-weight: 700;

  @include fs-5;
}

h4,
.text-delta {
  font-weight: 600;

  @include fs-5;
}

h5,
.text-epsilon {
  font-weight: 600;
  
  @include fs-4;
}
